<h1>Hello World</h1>

<%= link_to "Click Me", "javascript:void(0);", class: "btn btn-primary", id: "btn-switcher" %>

<input type="text" id="input" placeholder="Type Something...">
<p id="output"></p>
